.header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 20px;
}

.header__label {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.header__search {
  padding-inline: 10px;
  width: 320px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: border 0.3s;
}

.header__search:hover {
  border: 1px solid black;
}

.header__search::placeholder {
  font-size: 18px;
  color: gray;
  transition: color 0.3s;
}

.header__search:focus::placeholder {
  color: transparent;
}

.products {
  min-height: calc(100vh - 70px);
  padding: 15px;
}

.products-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.products-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 15px;
  width: 900px;
  max-height: 450px;
  border: 1px solid black;
  border-radius: 10px;
}

.products-list__title {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.products-list__description-wrapper {
  display: flex;
  align-items: center;
}

.products-list__description {
  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}

.products-list__detail-button {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  transition: opacity 0.3s;
}

.products-list__detail-button:hover {
  opacity: 0.5;
}

.products-list__price {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.button {
  width: 90px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  transition: color, background-color 0.3s;
}

.button:hover {
  color: white;
  background-color: black;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid gray;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.none {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.show {
  display: flex;
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background-color: #808080a1;
}

.modal__inner {
  position: relative;
  min-width: 900px;
  max-height: 700px;
  background-color: white;
  border-radius: 10px;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  transition: opacity 0.3s;
  background-color: white;
}

.modal__close-button:hover {
  opacity: 0.3;
}

.modal__close-button-icon {
  position: relative;
  width: 16px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.modal__close-button-icon::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 2px;
  height: 16px;
  background-color: black;
  transform: rotate(180deg) translate(50%, 50%);
}

.modal__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  padding: 15px;
  color: black;
}

.modal__product-title {
  font-size: 20px;
  font-weight: 700;
}

.modal__product-description {
  max-width: 700px;
  font-size: 18px;
  font-weight: 500;
}

.modal__product-price {
  font-size: 22px;
  font-weight: 700;
}