/* @import '../../styles/globals.scss';

.card {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 43px 21px 32px;
  max-width: 312px;
  min-height: 552px;
  border: 1px solid $color-accent;
  color: $color-text-light;
  cursor: pointer;

  &:hover {
    .title,
    .description,
    .price {
      color: $color-accent;
    }
  }
}

.image {
  margin-bottom: 22px;
  height: 271px;
}

.title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.23;
  transition: color $transition;
}

.description {
  margin-top: auto;
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  transition: color $transition;
}

.purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.23;
}

.price {
  transition: color $transition;
} */