.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 15px;
  width: 900px;
  max-height: 450px;
  border: 1px solid black;
  border-radius: 10px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.card__description {
  font-size: 18px;
  font-weight: 500;
}

.card__price {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.card__button {
  width: 90px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}