@import '../../styles/globals.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $color-text-light;
  transition: border-color, background-color $transition;

  &:hover {
    border-color: $color-accent;
    background-color: $color-accent;
  }

  &__icon {
    position: relative;
    width: 12px;
    height: 2px;
    background-color: $color-text-light;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 2px;
      height: 12px;
      background-color: $color-text-light;
    }
  }
}